

<script src="~/Content/js/jquery-3.5.1.js"></script>
@*<script src="~/Content/js/jquery.auto-complete.js"></script>*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Content/js/bootstrap.js"></script>
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Content/js/toastr.min.js"></script>
<link href="~/Content/css/toastr.min.css" rel="stylesheet" />
@{
    ViewBag.Title = "Importacion de Materiales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    div.DTE_Inline input {
        border: none;
        background-color: transparent;
        padding: 0 !important;
        font-size: 90%;
    }

        div.DTE_Inline input:focus {
            outline: none;
            background-color: transparent;
        }

    button.btn-space {
        margin-left: 1em;
    }

    div.DTE_Body div.DTE_Body_Content div.DTE_Field {
        float: left;
        width: 50%;
        padding: 5px 20px;
        clear: none;
        box-sizing: border-box;
    }

    div.DTE_Body div.DTE_Form_Content:after {
        content: ' ';
        display: block;
        clear: both;
    }
</style>

<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Materiales
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered" id="DTMaterial" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>PART ID</th>
                            <th>RESINA</th>
                            <th>PORCENTAJE</th>
                            <th>PROCESO</th>

                        </tr>
                    </thead>

                </table>

            </div>
        </div>

    </div>

</div>


<div class="modal fade" id="FormModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">

                    @using (Html.BeginForm("DataImportAll", "Material", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
                    {

                        <div style="margin-top: 20px; font-size:12px; width:80%; padding-left:20px;">
                            <fieldset id="myfieldset1">
                                <legend> Importar Excel</legend>
                                <p>
                                    Seleccionar Archivo:
                                    <input id="FileUpload" type="file" name="FileUpload" style="width: 250px; height: 24px; background: White" />
                                    <input id="btnImport" type="submit" value="Importar" style="width: 60px; height: 24px;" />
                                </p>
                                <p style="color: Red; text-align: center;"> @ViewBag.error </p> @* Información de solicitud (éxito o fracaso) *@
                            </fieldset>
                        </div>
                    }

                </div>
            </div>


        </div>

    </div>
</div>

@section scripts{


    <script>


        /*$('#comercialped').addClass('active');*/
        var table, Fila;
        var editor, editor2;
          $(document).ready(function () {
            editor = new $.fn.dataTable.Editor({
                ajax: "/Material/Listar",
                table: "#DTMaterial",
                fields: [

                    { label: "ID:", name: "ID" },

                   { label: "PART_ID:", name: "PART_ID" },

                    { label: "RESINA:", name: "RESINA" },
                    { label: "PORCENTAJE:", name: "PORCENTAJE" },
                    { label: "PROCESO:", name: "PROCESO" },

                ]
            });

            $('#DTMaterial').on('click', 'tbody ul.dtr-details li', function (e) {
                // Edit the value, but this selector allows clicking on label as well
                editor.inline($('span.dtr-data', this));
            });



            table=   $('#DTMaterial').DataTable({
                responsive: true,
                dom: "Bfrltip",
                /*"scrollY": "200px",*/
                "iDisplayLength": 10,
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                ajax: "/Material/Listar",


                columns: [
                    { data: "ID" },
                    { data: "PART_ID" },
                    { data: "RESINA" },
                    { data: "PORCENTAJE" },
                    { data: "PROCESO" },


                ],

                order: [0, 'asc'],
                keys: {
                    /*columns: ':not(:first-child)',*/
                    editor: editor
                },
                select: {
                    style: 'multi'
                },
                buttons: [

                    { extend: 'create', className: 'btn-light', editor: editor },
                    { extend: 'edit', className: 'btn-light', editor: editor },
                    { extend: 'remove', className: 'btn-light', editor: editor },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel" style="color:green"></i> ',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success btn-sm'
                    },


                    {
                        text: '<i class="fas fa-check-square"></i>',
                        extend: 'selectAll',
                        className: 'btn-space'
                    },
                    {
                        text: '<i class="far fa-check-square"></i>',
                        extend: 'selectNone',
                        className: 'btn-space'
                    },
                   {
                        extend: "selected",
                        text: '<i class="fas fa-clone"></i>',
                        titleAttr: 'Duplicar',
                        action: function (e, dt, node, config) {
                            // Start in edit mode, and then change to create
                            editor
                                .edit(table.rows({ selected: true }).indexes(), {
                                    title: 'Duplicar seleccionado',
                                    buttons: 'Duplicar'
                                })
                                .mode('create');
                        }
                    },
                    {
                        text: '<i class="fas fa-sync-alt" style="color:green"></i>',
                        titleAttr: 'Actualizar',
                        action: function (e, dt, node, config) {
                            $('#DTMaterial').DataTable().ajax.reload();

                        }
                    },
                    {
                        text: '<a ><i class="fas fa-cloud-upload-alt"></i>&nbsp;Import</a>',
                        titleAttr: 'Importar',
                        action: function (e, dt, node, config) {
                            $('#FormModal2').modal('show');
                        }
                    },
                    {
                        text: '<i class="fas fa-sd-card" style="color:green"></i>',
                        titleAttr: 'Actualizar',
                        action: function (e, dt, node, config) {
                            if (table.rows('.selected').data().length > 0) {

                                Actualizar();
                            }
                            else {
                                toastr.error('Debe Seleccionar al menos un Registro', 'Alerta', { timeOut: 3000, "closeButton": true, "positionClass": "toast-top-left" });
                            }
                        }
                    },

                ],
                language: {
                   url: "@Url.Content("~/Content/idioma/es-ES.json")"
                }
            });
           //$('#DTMaterial tbody').on('click', 'tr', function () {
           //    $(this).toggleClass('selected');
           //    var data = table.row(this).data();
           //    Fila = data.ID;
           //    hijo(Fila);


           //});
           $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
               toastr.error(message, "Error", { timeOut: 3000, "closeButton": true, "positionClass": "toast-top-left" })

           };



          });


        function Actualizar() {
            var data = table.rows({ selected: true }).data().toArray();
            $.ajax({
                type: 'post',
                url: "/Material/Actualizar/",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                traditional: true,
                success: function (response) {
                    if (response.success === true) {
                        toastr.success(response.message, 'Completado', { timeOut: 3000, "closeButton": true, "positionClass": "toast-top-left" });
                    }
                    else { toastr.error(response.message, 'Alerta', { timeOut: 3000, "closeButton": true, "positionClass": "toast-top-left" }); }
                }
            });


        }


      

    </script>




}
