
<script src="~/Content/js/jquery-3.5.1.js"></script>
@*<script src="~/Content/js/jquery.auto-complete.js"></script>*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Content/js/bootstrap.js"></script>
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Content/js/toastr.min.js"></script>
<link href="~/Content/css/toastr.min.css" rel="stylesheet" />
@{
    ViewBag.Title = "Pedidos Termo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    div.DTE_Inline input {
        border: none;
        background-color: transparent;
        padding: 0 !important;
        font-size: 90%;
    }

        div.DTE_Inline input:focus {
            outline: none;
            background-color: transparent;
        }

    button.btn-space {
        margin-left: 1em;
    }

    div.DTE_Body div.DTE_Body_Content div.DTE_Field {
        float: left;
        width: 50%;
        padding: 5px 20px;
        clear: none;
        box-sizing: border-box;
    }

    div.DTE_Body div.DTE_Form_Content:after {
        content: ' ';
        display: block;
        clear: both;
    }
</style>

<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="container">

                    <div class="row">

                        <div class="col-sm">
                            <input type="text" id="datepicker3" class="form-control" autocomplete="off" placeholder="Fecha Inicio">
                        </div>
                        <div class="col-sm">
                            <input type="text" id="datepicker4" class="form-control" autocomplete="off" placeholder="Fecha Final">
                        </div>

                        <div class="col-sm">
                            <button class="btn btn-primary me-md-2" type="button" onclick="Mostrar(document.getElementById('datepicker3').value,document.getElementById('datepicker4').value);">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered" id="DTComercial" style="width:100%">
                    <thead>
                        <tr>
                            <th>BASE</th>
                            <th>ID</th>
                            <th>PEDIDO</th>
                            <th>ESTADO DEL PED</th>
                            <th>ESTADO ACTUAL</th>
                            <th>FECHA_INGRESO</th>
                            <th>CLIENTE</th>
                            <th>OC</th>
                            <th>TIPO</th>
                            <th>PART_ID</th>
                            <th>FECHA_ENTREGA</th>
                            <th>CANTIDAD</th>
                            <th>PRECIO</th>
                            <th>REF_COTIZACION</th>
                            <th>DUI</th>
                            <th>SEGMENTO</th>
                            <th>CLUSTER</th>
                            <th>COSTO</th>
                            <th>COMMODITY_CODE</th>
                            <th>UN</th>
                            <th>FC</th>
                            <th>IDUSUARIO</th>
                            <th>MARGEN</th>
                            <th>TOLERANCIA</th>
                            <th>MONTO INGRESADO</th>
                            <th>KG</th>
                            <th>UTILIDAD</th>
                            <th>CARTILLA</th>
                        </tr>
                    </thead>

                </table>

            </div>
        </div>

    </div>

</div>


@section scripts{


    <script>
        $('#datepicker3').datepicker({
            uiLibrary: 'bootstrap4',
            dateFormat: 'dd/mm/yy'
        });
        $('#datepicker4').datepicker({
            uiLibrary: 'bootstrap4',
            dateFormat: 'dd/mm/yy'
        });

        $('#comercialpedT').addClass('active');
        var table, table2, Fila;
        var editor, editor2;
        function Mostrar(Fechai, FechaF)
        {
             editor = new $.fn.dataTable.Editor({
                 ajax: "/ComercialPed/ListarTodoV?Fechai=" + Fechai + "&Fechaf=" + FechaF,
                table: "#DTComercial",
                fields: [

                ]
            });




            table=   $('#DTComercial').DataTable({
                responsive: true,
                dom: "QBfrltip",
                /*"scrollY": "200px",*/
                "iDisplayLength": 10,
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                ajax: "/ComercialPed/ListarTodoV?Fechai=" + Fechai+"&Fechaf="+FechaF,
                "createdRow": function (row, data, dataIndex) {
                    if (data.ESTADO==="PENDIENTE") {
                        /*$($(row).find("td")[10]).css("background-color", "#E15B3D");*/
                        $(row).css("background-color", "#E15B3D");

                    }
},

                columns: [
                    { data: "BASE" },
                    { data: "ID" },
                    { data: "PEDIDO" },
                    { data: "ESTADO_PED" },
                    { data: "ESTADO" },
                    { data: "FECHA_INGRESO" },
                    { data: "CLIENTE" },
                    { data: "OC" },
                    { data: "TIPO" },
                    { data: "PART_ID" },
                    { data: "FECHA_ENTREGA" },
                    { data: "CANTIDAD" },
                    { data: "PRECIO" },
                    { data: "REF_COTIZACION" },
                    { data: "DUI" },
                    { data: "SEGMENTO" },
                    { data: "CLUSTER" },
                    { data: "COSTO" },
                    { data: "COMMODITY_CODE" },
                    { data: "UN" },
                    { data: "FC" },
                    { data: "IDUSUARIO" },
                    {
                        data: null,
                        /*  title: "SAFETY SCTOCK",*/
                        render: function (data, type, row) {

                            if (data.MARGEN === null)
                                return "";
                            else
                                var info = ((data.MARGEN).toFixed(2)+'%');
                            return info;

                        }
                    },

                    { data: "TOLERANCIA" },
                    {
                        data: null,
                        /*  title: "SAFETY SCTOCK",*/
                        render: function (data, type, row) {

                            if (data.PRECIO === null)
                                return "";
                            else
                                var info = ((data.PRECIO).toFixed(2) * (data.CANTIDAD).toFixed(2));
                            return $.fn.dataTable.render.number(',', '.', 2, '').display(info);

                        }
                    },
                    {
                        data: null,
                        /*  title: "SAFETY SCTOCK",*/
                        render: function (data, type, row) {

                            if (data.CANTIDAD === null)
                                return "";
                            else
                                var info2 = data.CANTIDAD* data.FC;
                            return $.fn.dataTable.render.number(',', '.', 2, '').display(info2);

                        }
                    },
                    {
                        data: null,
                        /*  title: "SAFETY SCTOCK",*/
                        render: function (data, type, row) {

                            if (data.MARGEN === null)
                                return "";
                            else
                                var info3 = (data.MARGEN/100) * data.PRECIO * data.CANTIDAD;
                            return $.fn.dataTable.render.number(',', '.', 2, '').display(info3);

                        }
                    },
                    { data: "CARTILLA" },

                ],

                order: [0, 'asc'],
                keys: {
                    /*columns: ':not(:first-child)',*/
                    editor: editor
                },
                select: {
                    style: 'multi'
                },
                buttons: [


                    {
                        extend: 'excelHtml5',
                        text: '<i class="fas fa-file-excel" style="color:green"></i> ',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn btn-success btn-sm'
                    },


                    {
                        text: '<i class="fas fa-check-square"></i>',
                        extend: 'selectAll',
                        className: 'btn-space'
                    },
                    {
                        text: '<i class="far fa-check-square"></i>',
                        extend: 'selectNone',
                        className: 'btn-space'
                    },



                ],
                language: {
                   url: "@Url.Content("~/Content/idioma/es-ES.json")"
                }
            });
           //$('#DTComercial tbody').on('click', 'tr', function () {
           //    $(this).toggleClass('selected');
           //    var data = table.row(this).data();
           //    Fila = data.ID;
           //    hijo(Fila);


           //});
           $.fn.dataTable.ext.errMode = function (settings, helpPage, message) {
               toastr.error(message, "Error", { timeOut: 3000, "closeButton": true, "positionClass": "toast-top-left" })
            };

        }


          $(document).ready(function () {


      


          });


        function Autorizar() {
            var data = table.rows({ selected: true }).data().toArray();
            $.ajax({
                type: 'post',
                url: "/ComercialPed/Autorizar/",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                traditional: true,
                success: function (response) {
                    if (response.success === true) {
                        toastr.success(response.message, 'Completado', { timeOut: 3000, "closeButton": true, "positionClass": "toast-top-left" });
                    }
                    else { toastr.error(response.message, 'Alerta', { timeOut: 3000, "closeButton": true, "positionClass": "toast-top-left" }); }
                }
            });


        }


        function Pedido() {
            var data = table.rows({ selected: true }).data().toArray();
            $.ajax({
                type: 'post',
                url: "/ComercialPed/Pedido/",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                traditional: true,
                success: function (response) {
                    if (response.success === true) {
                        toastr.success(response.message, 'Completado', { timeOut: 3000, "closeButton": true, "positionClass": "toast-top-left" });
                    }
                    else { toastr.error(response.message, 'Alerta', { timeOut: 3000, "closeButton": true, "positionClass": "toast-top-left" }); }
                }
            });

        }

    </script>




}